<h1>This is the best place for reading writing articles</h1>
<%= link_to image_tag('quora.png'), 'https://www.quora.com' %>
<%# image_tag 'profileimage.png' %>
<p> Want to create a article ?</p>
<%= link_to "New",new_article_path%>
